@font-face {
  font-family: "Page Title";
  src: url("./assets/MahoneyTwinkle-GO6nP.otf");
}

h1 {
  font-family: "Page Title";
  color: antiquewhite;
}
.header {
  background-color: #6a2c70;
  padding: 3em;
}
